@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Checkboxes";
}

@section head{
    <link href="~/Content/MyCustomStyles.css" rel="stylesheet" />
}

@section banner{
    <h1>CheckBoxes</h1>
}

    <form id="the form" method="post">
        <div class="row">
            <div class="col-md-offset-2">
                <label id="languagegroup">Select your favourite gaming platform</label><br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="PS4" />Play Station 4<br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="PC" />Visual Basic<br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="XBoxOne" />XBoxOne<br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="Switch" />Switch<br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="Cell" />Phone<br />
                <input type="checkbox" id="gamegroup" name="gamegroup" value="Ipad" />Ipad<br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3">
                <button type="submit" class="btn btn-primary" id="formbutton" name="formbutton" value="submit">Submit</button>
            </div>
        </div>
    </form>


